body {
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid black;
    background-color: rgb(14, 0, 24);
}